* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    color: #333;
}
.container {
    margin: 0 15px;
}
.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.form-box.active {
    display: block !important;
}
input, select, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    background: #f2f2f2;
}
button {
    background: #333;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s;
}
button:hover {
    background: #555;
}
.error-message {
    padding: 12px;
    background: pink;
    border-radius: 6px;
    font-size: 16px;
    color: darkred;
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 34px;
}
p {
    text-align: center;
    font-size: 14.5px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}